// * 全局覆盖antd样式

:global {
  .form-buttons {
    button {
      margin-right: 20px;
    }
  }
  .ant-select-dropdown {
    z-index: 1000000;
  }
}

:global {
  .json-schema-container {
    height: 100%;
    width: 100%;
  }
}

// * ----------------

:global {
  #root {
    min-height: 100%;
  }
}
